APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8080

DB_CONNECTION=mongodb
DB_HOST=mongodb_jikan
DB_PORT=27017
DB_DATABASE=jikan
DB_USERNAME=jikan
DB_PASSWORD=jikan_secret

# MongoDB uses these (must match DB_USERNAME/DB_PASSWORD above)
MONGO_INITDB_ROOT_USERNAME=jikan
MONGO_INITDB_ROOT_PASSWORD=jikan_secret

CACHE_DRIVER=array
QUEUE_CONNECTION=database
